extends layout

block content
  #banner.page-header
    .row
      .col-lg-6
        h1 Active Cards
          small &nbsp; - Lists the currently registered cards
  .row
    .col-xs-12
      .row.list.group
        .col-xs-12.list-group-item
          p
            span.label Card Number:&nbsp;
            span.label.label-primary.cardnumber 123456789101112 &nbsp;
            span.label Points:&nbsp;
            span.label.label-primary.points 345 &nbsp;

