extends layout

block content
  #banner.page-header
    .row
      .col-lg-6
        h1= pageHeader.title
          small &nbsp; - Lists the currently registered cards
  .row
    .col-xs-12.col-md-6
      form.form-horizontal(action="", method="post", role="form")
        button.btn.btn-default Create Card
       &nbsp;
  .row
    .col-xs-12
      .row.list.group
      
      each card in cards
        .col-xs-12.list-group-item
          
            span.label Card Number:&nbsp;
            a(href="/cards/#{card.cardNumber}").label.label-primary #{card.cardNumber} &nbsp;
            span.label Points:&nbsp;
            span.label.label-primary.points #{card.points} &nbsp;

